<a href="https://colab.research.google.com/github/johhan27/DS-Unit-2-Kaggle-Challenge/blob/master/LS_DS_223_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 3*

---

# Cross-Validation


## Assignment
- [ ] [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2), then submit your dataset.
- [ ] Continue to participate in our Kaggle challenge. 
- [ ] Use scikit-learn for hyperparameter optimization with RandomizedSearchCV.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.


**You can't just copy** from the lesson notebook to this assignment.

- Because the lesson was **regression**, but the assignment is **classification.**
- Because the lesson used [TargetEncoder](https://contrib.scikit-learn.org/categorical-encoding/targetencoder.html), which doesn't work as-is for _multi-class_ classification.

So you will have to adapt the example, which is good real-world practice.

1. Use a model for classification, such as [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)
2. Use hyperparameters that match the classifier, such as `randomforestclassifier__ ...`
3. Use a metric for classification, such as [`scoring='accuracy'`](https://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values)
4. If you’re doing a multi-class classification problem — such as whether a waterpump is functional, functional needs repair, or nonfunctional — then use a categorical encoding that works for multi-class classification, such as [OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html) (not [TargetEncoder](https://contrib.scikit-learn.org/categorical-encoding/targetencoder.html))



## Stretch Goals

### Reading
- Jake VanderPlas, [Python Data Science Handbook, Chapter 5.3](https://jakevdp.github.io/PythonDataScienceHandbook/05.03-hyperparameters-and-model-validation.html), Hyperparameters and Model Validation
- Jake VanderPlas, [Statistics for Hackers](https://speakerdeck.com/jakevdp/statistics-for-hackers?slide=107)
- Ron Zacharski, [A Programmer's Guide to Data Mining, Chapter 5](http://guidetodatamining.com/chapter5/), 10-fold cross validation
- Sebastian Raschka, [A Basic Pipeline and Grid Search Setup](https://github.com/rasbt/python-machine-learning-book/blob/master/code/bonus/svm_iris_pipeline_and_gridsearch.ipynb)
- Peter Worcester, [A Comparison of Grid Search and Randomized Search Using Scikit Learn](https://blog.usejournal.com/a-comparison-of-grid-search-and-randomized-search-using-scikit-learn-29823179bc85)

### Doing
- Add your own stretch goals!
- Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/). See the previous assignment notebook for details.
- In additon to `RandomizedSearchCV`, scikit-learn has [`GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html). Another library called scikit-optimize has [`BayesSearchCV`](https://scikit-optimize.github.io/notebooks/sklearn-gridsearchcv-replacement.html). Experiment with these alternatives.
- _[Introduction to Machine Learning with Python](http://shop.oreilly.com/product/0636920030515.do)_ discusses options for "Grid-Searching Which Model To Use" in Chapter 6:

> You can even go further in combining GridSearchCV and Pipeline: it is also possible to search over the actual steps being performed in the pipeline (say whether to use StandardScaler or MinMaxScaler). This leads to an even bigger search space and should be considered carefully. Trying all possible solutions is usually not a viable machine learning strategy. However, here is an example comparing a RandomForestClassifier and an SVC ...

The example is shown in [the accompanying notebook](https://github.com/amueller/introduction_to_ml_with_python/blob/master/06-algorithm-chains-and-pipelines.ipynb), code cells 35-37. Could you apply this concept to your own pipelines?

### BONUS: Stacking!

Here's some code you can use to "stack" multiple submissions, which is another form of ensembling:

```python
import pandas as pd

# Filenames of your submissions you want to ensemble
files = ['submission-01.csv', 'submission-02.csv', 'submission-03.csv']

target = 'status_group'
submissions = (pd.read_csv(file)[[target]] for file in files)
ensemble = pd.concat(submissions, axis='columns')
majority_vote = ensemble.mode(axis='columns')[0]

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission[target] = majority_vote
submission.to_csv('my-ultimate-ensemble-submission.csv', index=False)
```

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [5]:
import numpy as np

In [2]:
import pandas as pd

# Merge train_features.csv & train_labels.csv
train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))

# Read test_features.csv & sample_submission.csv
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

In [6]:
train.set_index('id', inplace=True)
test.set_index('id', inplace=True)
train.head()

       amount_tsh date_recorded  ... waterpoint_type_group    status_group
id                               ...
69572      6000.0    2011-03-14  ...    communal standpipe      functional
8776          0.0    2013-03-06  ...    communal standpipe      functional
34310        25.0    2013-02-25  ...    communal standpipe      functional
67743         0.0    2013-01-28  ...    communal standpipe  non functional
19728         0.0    2011-07-13  ...    communal standpipe      functional

[5 rows x 40 columns]

In [7]:
target = 'status_group'
features = train.columns.to_list()
features.remove('status_group')

X = train[features]
y = train[target]

In [9]:
X.describe()

          amount_tsh    gps_height  ...    population  construction_year
count   59400.000000  59400.000000  ...  59400.000000       59400.000000
mean      317.650385    668.297239  ...    179.909983        1300.652475
std      2997.574558    693.116350  ...    471.482176         951.620547
min         0.000000    -90.000000  ...      0.000000           0.000000
25%         0.000000      0.000000  ...      0.000000           0.000000
50%         0.000000    369.000000  ...     25.000000        1986.000000
75%        20.000000   1319.250000  ...    215.000000        2004.000000
max    350000.000000   2770.000000  ...  30500.000000        2013.000000

[8 rows x 9 columns]

In [10]:
def wrangle(df):
  df = df.copy()

  #outlier. We convert it to 0 and then to nan to later impute within normal values
  df['latitude'] = df['latitude'].replace(-2e-08, 0)

  #zeros to NaN
  zero_cols = ['population', 'construction_year', 'longitude', 'latitude', 'gps_height', 'amount_tsh', 'district_code']
  for col in zero_cols:
    if col in df.columns.to_list():
      df[col] = df[col].replace(0, np.nan)

  #dropping empty and repeated columns as "noise"
  #noise_cols = ['waterpoint_type', 'source', 'quantity_group', 'water_quality', 'payment_type', 'management_group', 
   #             'edftraction_type_group', 'edftraction_type', 'num_private', 'recorded_by']
  #for col in noise_cols:
   # if col in df.columns.to_list():
    #  df = df.drop(columns=noise_cols)

  return df

In [11]:
from sklearn.model_selection import train_test_split

# YOUR CODE HERE
#raise NotImplementedError()

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
X_train = wrangle(X_train)
X_val = wrangle(X_val)

In [13]:
def good_cols(X):
  cat_cols = [col for col in X.select_dtypes(exclude=np.number).columns.to_list() if X[col].nunique() < 50 ]
  num_cols = [col for col in X.describe().columns.to_list()]
  my_cols = cat_cols + num_cols
  return my_cols, num_cols, cat_cols

In [18]:
from category_encoders import OrdinalEncoder, BinaryEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from scipy.stats import randint, uniform


my_cols, num_cols, cat_cols = good_cols(X_train)
X_train = X_train[my_cols]
X_val = X_val[my_cols]

# YOUR CODE HERE
#raise NotImplementedError()
num_transformer = make_pipeline(SimpleImputer(strategy='mean'))
cat_transformer = make_pipeline(SimpleImputer(strategy='most_frequent'), OrdinalEncoder())

full_transformer = ColumnTransformer(
    transformers=[
                  ('num', num_transformer, num_cols),
                  ('cat', cat_transformer, cat_cols)
    ] 
)

model = make_pipeline(
    full_transformer,
    #DecisionTreeClassifier(max_depth=20, min_samples_split=4, min_samples_leaf=8, random_state=42)
    #RandomForestClassifier(max_depth=20, min_samples_split=4, min_samples_leaf=8, random_state=42)
    RandomForestClassifier(random_state=42)
)


param_distributions = {
    'randomforestclassifier__max_depth':randint(1,100),
    'randomforestclassifier__min_samples_split':randint(1,50),
    'randomforestclassifier__min_samples_leaf':randint(1,50)
}
search = RandomizedSearchCV(
    model,
    param_distributions=param_distributions,
    n_iter=4,
    cv=3,
    scoring='accuracy',
    verbose=10,
    return_train_score=True,
    n_jobs=-1 

)

search.fit(X_train,y_train)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:   21.3s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:   41.0s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  12 out of  12 | elapsed:  1.9min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=Pipeline(memory=None,
                                      steps=[('columntransformer',
                                              ColumnTransformer(n_jobs=None,
                                                                remainder='drop',
                                                                sparse_threshold=0.3,
                                                                transformer_weights=None,
                                                                transformers=[('num',
                                                                               Pipeline(memory=None,
                                                                                        steps=[('simpleimputer',
                                                                                                SimpleImputer(add_indicator=False,
                                                                                                              copy=True,
                                                                                                              fill_value=None,
                                                                                                              missing_values=nan,
                                                                                                              strategy='mea...
                   param_distributions={'randomforestclassifier__max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fef59d13910>,
                                        'randomforestclassifier__min_samples_leaf': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fef44760850>,
                                        'randomforestclassifier__min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fef44750d10>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='accuracy', verbose=10)

In [19]:
print('Best hyperparameters', search.best_params_)
print('Cross-validation MAE', search.best_score_)

Best hyperparameters {'randomforestclassifier__max_depth': 50, 'randomforestclassifier__min_samples_leaf': 3, 'randomforestclassifier__min_samples_split': 33}
Cross-validation MAE 0.788973063973064

In [21]:
model2 = make_pipeline(
    full_transformer,
    #DecisionTreeClassifier(max_depth=20, min_samples_split=4, min_samples_leaf=8, random_state=42)
    #RandomForestClassifier(max_depth=20, min_samples_split=4, min_samples_leaf=8, random_state=42)
    RandomForestClassifier(random_state=42, min_samples_leaf=3, max_depth=50, min_samples_split=33)
)
model2.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='mean',
                                                                                 verbose=0))],
                                                           verbose=False),
                                                  ['amount_tsh', 'gps_...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=50, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=3,
                                        min_samples_split=33,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=42,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [23]:
from sklearn.metrics import accuracy_score
training_acc = accuracy_score(y_train, model2.predict(X_train))
validation_acc = accuracy_score(y_val, model2.predict(X_val))

print('Training Accuracy:', training_acc)
print('Validation Accuracy:', validation_acc)

Training Accuracy: 0.8342171717171717
Validation Accuracy: 0.7988215488215489

In [25]:
submission = model2.predict(wrangle(test)[my_cols])
submission = pd.DataFrame(submission, columns=['status_group'])
submission.index = test.index
submission.head()

         status_group
id
50785  non functional
51630      functional
17168      functional
45559  non functional
49871      functional

In [26]:
filename = "DSPT11 Water Pump Challenge.csv"
submission.to_csv(filename)